.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid #eee;
  }
}

.timeLine {
  width: 20px;
  height: 8px;
  background-color: red;
  position: absolute;
  // top: 0;
  left: -10px;
  border-radius: 5px;
  opacity: 0.8;
}
