.calendar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);

  &__header {
    display: flex;
    height: 100px;
  }

  &__body {
    display: flex;
    overflow: auto;
  }

  &__gmt {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 9px;
    text-transform: uppercase;
    opacity: 0.6;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 2px;
  }

  &__week-container {
    display: flex;
    width: 100%;
    height: fit-content;
  }

  &__time-scale {
    height: 100%;
    width: 48px;
  }

  &__week {
    display: flex;
    flex: 1;
  }

  &__day {
    position: relative;
    flex: 1;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
  }

  &__time-slot {
    height: 59px;
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  }

  &__day-label {
    flex: 1;
  }
}

.day-label {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0 7px;

  &__day-name {
    font-size: 9px;
    text-transform: uppercase;
    opacity: 0.6;
    padding-bottom: 5px;
  }

  &__day-number {
    opacity: 0.6;
    padding: 5px;
    font-size: 17px;
  }

  &__day-gmt {
    align-self: stretch;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    height: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  &_current {
    .day-label__day-name {
      opacity: 1;
      color: blue;
    }
    .day-label__day-number {
      opacity: 1;
      border-radius: 50%;
      background-color: blue;
      color: white;
    }
  }
}

.red-line {
  position: absolute;
  width: 100%;
  border-top: 2px solid red;
  z-index: 5;
}
